
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Share Tech", sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: white;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.navbar__s4{
  display: none;
  font-size: 30px;
}
.navbar__s6{
  display: none;
  font-size: 30px;
}
.navbar__s4,.navbar__s6:hover{
  cursor: pointer;
  opacity: 0.8;
 
}
.navbar__two,.container:hover{
  cursor: pointer;
  opacity: 0.8;
}
.navbar__s5{
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  border: solid #DFE1DF 2px;
  border-radius: 30px;
  min-height: 50px;
  background-color: #F7F7F7;
  display: none;
}
.navbar__s5 input {
  border: none;
  font-size: 10px;
  width: 100%;
  background-color: transparent;
}

.navbar__s5 input:focus {
  outline: none;
}

.navbar__two {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.button__1 {
  background-color: black;
  color: white;
  border-radius: 30px;
  height: 40px;
  width: 80px;
  font-size: 15px;
  border: none;
}

.button__8 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  border: 1px solid #ddd;
  background-color: white;
}

.que {
  text-align: center;
  margin: 2%;
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

.list {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: large;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin: 2% auto;
  width: 60%;
  max-width: 1200px;
  border: solid #DFE1DF 2px;
  border-radius: 30px;
  min-height: 50px;
  background-color: #F7F7F7;
}

.list input {
  border: none;
  font-size: 20px;
  width: 100%;
  background-color: transparent;
}

.list input:focus {
  outline: none;
}

.button__2 {
  border-radius: 30px;
  width: 90px;
  height: 40px;
  border: solid #513430 3px;
  background-color: #a06e68;
  font-size: large;
  flex-shrink: 0;
}

.sale-image img {
  width: 100%;
  display: block;
}

.sale-image {
  position: relative;
  display: flex;
}

.sale-image__1 {
  position: absolute;
  top: 20%;
  left: 30px;
  max-width: 280px;
  font-size: 26px;
  color: black;
  border-radius: 10px;
  background-color: #a06e68;
  padding: 20px;
}

.sale-image__2 {
  position: absolute;
  top: 80%;
  left: 30px;
  max-width: 50%;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  background-color: #a06e68;
  padding: 20px;
}

.sale-image__3 {
  position: absolute;
  top: 85%;
  right: 80px;
}

.button__6 {
  padding: 10px;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  color: white;
  border: solid black 2px;
  background-color: black;
  font-size: 17px;
  animation-name: zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content {
  margin: 3%;
}

.things {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.things__1,
.things__2,
.things__3,
.things__4 {
   flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
  position: relative;
}

.things-two {
  text-align: start;
  flex-wrap: wrap;
 flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.things-two__1,
.things-two__2,
.things-two__3,
.things-two__4 {
  flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
  position: relative;
}

.things-two__1 img,
.things-two__2 img,
.things-two__3 img,
.things-two__4 img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.things__1 img,
.things__2 img,
.things__3 img,
.things__4 img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.things,.things-one,.things-two:hover{
  cursor: pointer;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 2%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  background-color: #F7F7F7;
  border: solid #DFE1DF 3px;
  border-radius: 30px;
}

.box__1 {
  padding: 20px;
  font-size: large;
  flex: 1 1 300px;
}

.box__2 {
  text-align: end;
  margin-top: 10px;
}

.box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  transform: rotate(-10deg);
  flex-shrink: 0;
}

.button__3 {
  padding: 10px;
  font-size: 16px;
  background-color: #a06e68;
  border: solid #513430 2px;
  width: 100px;
  height: 40px;
  border-radius: 30px;
}

.box-one {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 2%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  background-color: #F7F7F7;
  border: solid #DFE1DF 3px;
  border-radius: 30px;
}

.box-one__1 {
  padding: 20px;
  font-size: 20px;
  flex: 1 1 300px;
}

.box-one img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  transform: rotate(-10deg);
  flex-shrink: 0;
}

.box-one__2 {
  text-align: end;
  margin-top: 10px;
}

.button__4 {
  background-color: #DFE1DF;
  border: none;
  padding: 3px 8px;
  margin: 8px 0;
  border-radius: 5px;
}

.places {
  background-color: #DFE1DF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.about {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  background-color: #F7F7F7;
}

.about__0 img {
  padding: 30px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about__1 {
  color: #002B11;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
}

.button__5 {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
  animation-name: zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.button__1:hover,
.button__2:hover,
.button__3:hover,
.button__4:hover,
.button__5:hover,
.button__6:hover,
.button__7:hover,
.button__8:hover,
.button__9:hover{
  cursor: pointer;
  opacity: 0.8;
}

.things-one {
  text-align: start;
  flex-wrap: wrap;
 flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.things-one__1,
.things-one__2,
.things-one__3,
.things-one__4 {
   flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
  position: relative;
}

.things-one__1 img,
.things-one__2 img,
.things-one__3 img,
.things-one__4 img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.trip {
  padding: 10px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: white;
}

.trip-1 {
  padding: 10px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: white;
}

.trip-5 {
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: white;
}

.footer {
  padding: 30px;
  background-color: #F7F7F7;
  color: black;
}

.footer__one {
  display: flex;
}

.footer__one p {
  margin: 10px ;
}

.footer__two {
  display: flex;
  margin: 20px ;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer__three {
  gap: 20px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  text-decoration: underline;
}

.about-one {
  border-radius: 30px;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  background-color: #a06e68;
  position: relative;
}

.about-one__0 {
  position: relative;
  flex: 1 1 300px;
}

.about-one__0 img {
  border-radius: 60px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about-one__1 {
  border-left: solid black 2px;
  color: black;
  padding: 50px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
}

.button__7 {
  padding: 10px;
  font-size: 16px;
  background-color: #a06e68;
  border: solid #513430 2px;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.button__9 {
  position: fixed;
  right: 16px;
  bottom: 16px;
  padding: 10px;
  font-size: 15px;
  background-color: #a06e68;
  border: solid #513430 2px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  z-index: 1000;
}

.like-1,
.like-2,
.like-3,
.like-4 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}


/* Mobile: 600px and below */
@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .navbar {
    flex-direction: row;
    padding: 15px;
  }

  .navbar__s4,.navbar__s6{
    display: block;
  }
  .navbar__s5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 10px;
  }
  .navbar__s5 input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .navbar__two {
    display: none;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .navbar h1 {
  display: none;
  }
  .navbar__three,.navbar__four{
    display: none;
  }

  .button__8 {
    width: 80px;
    font-size: 12px;
  }

  .que h1 {
    font-size: 22px;
  }

  .container {
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
  }

  .list {
   display: none;
  }

  .list input {
    font-size: 16px;
  }

  .button__2 {
    width: 100%;
    margin-top: 10px;
  }

  .things__1,
  .things__2,
  .things__3,
  .things__4 {
    flex-basis: 40%
  }

  .things-two__1,
  .things-two__2,
  .things-two__3,
  .things-two__4 {
    flex-basis: 40%
  }

  .things-one__1,
  .things-one__2,
  .things-one__3,
  .things-one__4 {
    flex-basis: 40%
  }

  .box,
  .box-one {
    flex-direction: column;
    text-align: center;
  }

  .box img,
  .box-one img {
    width: 120px;
    height: 120px;
  }

  .box__1,
  .box-one__1 {
    padding: 10px;
  }

  .box__2,
  .box-one__2 {
    text-align: center;
  }

  .about {
    width: 95%;
    flex-direction: column;
  }

  .about__0 img {
    max-width: 100%;
    padding: 20px;
  }

  .about__1 {
    font-size: 16px;
    padding: 20px;
  }

  .about-one {
    width: 95%;
    flex-direction: column;
  }

  .about-one__0 img {
    max-width: 100%;
    padding: 20px;
  }

  .about-one__1 {
    font-size: 18px;
    padding: 20px;
    border-left: none;
    border-top: solid black 2px;
  }

  .button__7 {
    left: 20px;
    bottom: 20px;
    font-size: 14px;
  }
  .sale-image{
    display: none;
  }

  .sale-image__1 {
    display: none;
  }

  .sale-image__2 {
    display: none;
  }

  .sale-image__3 {
    width: 10px;
    top: 65%;
    right: 15px;
  }

  .button__6 {
    width: 150px;
    height: 45px;
    font-size: 15px;
  }

  /* .footer__one {
    flex-direction: row;
  }

  .footer__three {
    flex-direction: row;
    gap: 10px;
  } */

  .button__9 {
    width: 100px;
    font-size: 13px;
    right: 10px;
    bottom: 10px;
  }

  .content {
    margin: 5%;
  }

  .content h1 {
    font-size: 20px;
  }

  .things-one__1 img,
  .things-one__2 img,
  .things-one__3 img,
  .things-one__4 img {
    height: 350px;
  }
}














